body {
    font-size: 20px;
    margin: 0;
    width: 100%;
    height: auto;

    p {
        &:hover {
            text-decoration-line: underline;
            cursor: pointer;
        }

        display: inline-block; // reduces box to only fit size of text
        margin: 20px;
    }

    div {
        text-align: center; // horizontally aligns image

        img {
            box-shadow: 0 4px 8px 0 rgb(0, 0, 0, .5);
        }
    }
}